body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#646464;
}
.container {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 40px;
}

h1 {
    font-size: 20px;
}

.cabecera {
    padding: 20px;
    margin-bottom: 20px;
    background-color:blue;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.cabecera span {
    font-size: .7em;
    color: #cccccc;
}